<div class="w-3/4 p-6 rounded-xl mx-auto">
  <div class="w-full font-bold block mb-2">
    <a [routerLink]="['/']">< Back to Dashboard</a>
  </div>
  <div
    class="overflow-x-auto overflow-y-auto w-full bg-base-200 p-6 rounded-xl mx-auto"
  >
    <h2 class="text-xl font-bold mb-4">Students List</h2>

    <table class="table">
      <thead class="bg-base-300">
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{ student.id }}</td>
          <td>{{ student.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
