<div class="w-full h-screen flex items-center justify-center">
  <div class="bg-base-200 rounded-lg shadow-lg w-full max-w-md">
    <div class="p-8">
      <img src="/Notes.svg" alt="Notes Icon" class="h-20 w-20 mx-auto mb-4" />
      <h2 class="text-2xl font-bold mb-6 text-center">Assignment Grader</h2>
      <h3 class="text-2xl font-bold mb-6 text-center text-primary">Register</h3>

      <!-- Success Message -->
      <div
        *ngIf="successMessage"
        class="bg-green-100 text-green-700 p-3 rounded mb-4"
      >
        {{ successMessage }}
      </div>
      <!-- Error Message -->
      <div
        *ngIf="errorMessage"
        class="bg-red-100 text-red-700 p-3 rounded mb-4"
      >
        {{ errorMessage }}
      </div>

      <form (ngSubmit)="onRegister()" #registerForm="ngForm" class="space-y-4">
        <!-- User Type Selection -->
        <div class="flex justify-center space-x-4 mb-4">
          <label class="cursor-pointer">
            <input
              type="radio"
              name="userType"
              value="student"
              [(ngModel)]="userType"
              required
            />
            Student
          </label>
          <label class="cursor-pointer">
            <input
              type="radio"
              name="userType"
              value="teacher"
              [(ngModel)]="userType"
              required
            />
            Teacher
          </label>
        </div>

        <!-- Name Field -->
        <div>
          <label for="name" class="block text-sm font-medium text-gray-700"
            >Full Name</label
          >
          <input
            type="text"
            id="name"
            [(ngModel)]="name"
            name="name"
            required
            class="mt-1 p-2 block w-full rounded-md bg-base-100"
            #nameInput="ngModel"
          />
          <div
            *ngIf="nameInput.invalid && nameInput.touched"
            class="text-red-500 text-sm"
          >
            Please enter your full name.
          </div>
        </div>

        <!-- Email Field -->
        <div>
          <label for="email" class="block text-sm font-medium text-gray-700"
            >Email</label
          >
          <input
            type="email"
            id="email"
            [(ngModel)]="email"
            name="email"
            required
            class="mt-1 p-2 block w-full rounded-md bg-base-100"
            #emailInput="ngModel"
          />
          <div
            *ngIf="emailInput.invalid && emailInput.touched"
            class="text-red-500 text-sm"
          >
            Please enter a valid email address.
          </div>
        </div>

        <!-- Password Field -->
        <div>
          <label for="password" class="block text-sm font-medium text-gray-700"
            >Password</label
          >
          <input
            type="password"
            id="password"
            [(ngModel)]="password"
            name="password"
            required
            minlength="6"
            class="mt-1 block p-2 w-full rounded-md bg-base-100"
            #passwordInput="ngModel"
          />
          <div
            *ngIf="passwordInput.invalid && passwordInput.touched"
            class="text-red-500 text-sm"
          >
            Password must be at least 6 characters.
          </div>
        </div>

        <!-- Submit Button -->
        <button
          type="submit"
          [disabled]="registerForm.invalid"
          class="w-full bg-primary text-white py-2 rounded-md hover:bg-secondary transition duration-300 disabled:opacity-50 disabled:cursor-not-allowed"
        >
          Register
        </button>
        <div class="text-center">
          <a class="underline text-xs" [routerLink]="['/teacher-login']">
            Already have an account? Login
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
